<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gestion_de_Proyectos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <userSettings>
    <Gestion_de_Proyectos.Properties.Settings>
      <setting name="UsuarioPerfil" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EspecialidadEmpleado" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FuenteFinanciamientoProyecto" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CambiarClave" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EmpleadoProyecto" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ItemPresupuesto" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ModuloPerfil" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SubmoduloModulo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConsultarDeshabilitados" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConsultarDeshabilitadosPorFecha" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConsultarHabilitados" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConsultarHabilitadosPorFecha" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Cargo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Cliente" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Especialidad" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Item" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Localidad" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Modulo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Perfil" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Submodulo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TipoFuenteFinanciamiento" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Usuario" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Inicio" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Menu" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FuenteFinanciamiento" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GastoEjecutado" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Presupuesto" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Proyecto" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Reitemizar" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CD" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CHF" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CDF" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>0</value>
      </setting>
    </Gestion_de_Proyectos.Properties.Settings>
  </userSettings>
</configuration>
